<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>Loading</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <link rel="stylesheet" href="styles.5d36469eae4551649b5e.css"></head>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
<body class="hold-transition skin-black-light sidebar-mini">
    <div class="wrapper">
    {% include 'backend/header.html.twig' %}
    {{ render(controller('App\\Controller\\Backend\\BackendController:sidebar', { 'request': app.request })) }}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        
        <!-- Main content -->
        <div class="content">
            <div app-root></div>
        </div>
<script type="text/javascript" src="runtime.c4f694fe6e3ed603eec0.js"></script><script type="text/javascript" src="polyfills.8a55347372f0994ae121.js"></script><script type="text/javascript" src="main.7386d70c07c56f66089d.js"></script>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {% include 'backend/footer.html.twig' %}
    {#{% include 'backend/control-sidebar.html.twig' %}#}
</div>
<!-- ./wrapper -->
{% block javascripts %}
<script src="{{ asset('build/app.js') }}"></script>
{{ include('backend/js.html.twig') }}
{% endblock %}
</body>
</html>