<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" id="userModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">选择推荐人</h4>
            </div>
            <div class="modal-body">
                <iframe src="{# path('user_select') #}" width="860px;" height="390px;"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-red" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success" id="btnSelect">选择</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




