{{ form_start(verifyPartnerTeacherForm) }}
    <h3 class="box-title">
        成为合伙人时的讲师
    </h3>
    {{ form_widget(verifyPartnerTeacherForm) }}
    <button class="btn btn-primary">{{ button_label|default('提交') }}</button>
{{ form_end(verifyParentForm) }}